body {
  margin:0;
  font-family: sans-serif;
}
.wrapper {
	padding-bottom: 20px;
}
.header {
  color:#F1F1F1;
  border-bottom: 2px solid #989898;
  background-color: #2D2D2D;
  text-align: center;
  margin-bottom:15px;
  background-size:cover;
  background-position: center center;
}
.header .row {
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 16%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 16%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 16%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.header h1 {
  text-shadow: 0px 0px 10px #000;
}
#wrapper {
  margin:auto;
  width:80%;
  text-align:center;
  padding: 0px 20px 20px 20px;
}
version {
  color: #5BC0DE;
  cursor:pointer;
}
version:hover {
  color: #F0AD4E;
}
#version {
  display:none;
}
#info {
  list-style: none;
  background: #DAE3FF;
  padding: 10px;
  border-radius: 5px;
}
#info li {
  display: inline;
  margin-right:15px;
}
.error {
  color:red;
  display:none;
}
.clear {
	clear:both;
}
.glyphicon-exclamation-sign {
	margin-right: 10px;
}
.clear {
  clear:both;
}
.cursor {
  cursor:pointer;
}

/* Menu */
.menu {
  list-style:none;
  text-align:center;
  padding:20px 0px 20px 0px;
  text-decoration:none;
}
.menu li {
  display:inline-block;
  min-width:10%;
}
.active a {
  border-bottom:2px solid #337ab7;
}
.menu a {
  color:#FFF;
  padding:3px;
}
.menu a:hover {
  border-bottom:2px solid #337ab7;
  text-decoration:none;
}
.menu a:active, .menu a:focus, .menu a:visited {
  text-decoration:none;
}
.sub-menu{
	margin-bottom:5px;
}
/* -- */

.zero-clipboard {
    display: block;
    position: relative;
}
.btn {
	margin-left:3px;
	margin-right:3px;
}
.btn-dark {
	color: #fff;
    background-color: #666;
    border-color: #333;
}
.btn-dark:hover {
	color: #fff;
    background-color: #333;
}
.btn-purple {
	color: #fff;
    background-color: #733AA0;
    border-color: #8155A2;
}
.btn-purple:hover {
	color: #fff;
    background-color: #8155A2;
}
.btn-clipboard {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    display: block;
    padding: 5px 8px;
    font-size: 12px;
    color: #767676;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #e1e1e8;
    border-radius: 0 4px 0 4px;
}
.btn-clipboard-hover {
	background: #4E008C;
	border-color: #22003E;
	color:#FFF;
}
.modal-dialog {
	width:90%;
}

/* Navigation */
#nav-input {
  min-height: 500px;
}
#nav-output {
  border:none;
  border-radius:4px;
  display: block;
  width: 100%;
  resize: vertical;
  background-color:rgba(0,0,0,0);
  color:#00578C;
}
#nav-output:focus {
  background-color:rgba(255,255,255,0.5);
}
#nav-output, #page-output {
  min-height: 300px;
}
.set-filters {
  padding-left:0;
  margin-top:10px;
}
.set-filters li {
  list-style:none;
  margin-bottom:5px;
  transition: all 0.5s ease;

}
.set-filters li:hover {
  background-color:rgba(33,33,33,0.1);
}
.set-filters li>input {
  display:initial;
}
.set-filters .glyphicon-remove {
  opacity:0.3;
  cursor:pointer;
}
#tab4 table {
  margin-top:10px;
  margin-bottom:10px;
  width:100%;
}
#tab4 tr:first-child {
  border-bottom: 1px solid #CCC;
}
#tab4 td {
  padding:3px;
}
.tab-pane {
      border: 1px solid #ddd;
      padding:10px;
      border-top:none;
}

/* Pages */
.page-btn {
	width:100%;
	margin-bottom:5px;
}
#page-input {
	min-height:400px;
}
.page-section {
	padding:10px;
	margin-bottom:15px;
}
.tpages tr:hover {
	background:#F1F1F1;
}
.savepage, .cancelpage {
  color:#b7b7b7;
  cursor:pointer;
}
.savepage:hover {
  color:green;
}
.cancelpage:hover {
  color:red;
}

/* Images Section */
.crop-wrapper {
	text-align:center;
	margin-bottom:10px;
}

/* CSS Section */
.palette {
	width:256px;
	height:256px;
	background-color:green;
}
.palette-box {
  height:26px;
  width:52px;
  border:1px solid #000;
  cursor: pointer;
}
#uploadLogo {
  max-height:175px;
  max-width:250px;
  align-items:center;
}
.palette-thief-wrapper {
  margin: 10px 0px;
}
.palette-thief {
  list-style: none;
  float:right;
}
.palette-thief li {
  float:left;
}
.palette-thief-box {
  height:150px;
  width:150px;
  margin:0px 5px;
  text-align: center;
  line-height: 150px;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  border-radius:10px;
  text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
}
.template-wrapper {
	border:5px dashed #CCC;
	min-height:300px;
}
/* -- */

/* Headers */
.header-logo {
  border:1px solid rgba(255,255,255,0);
  position:absolute;
  z-index: 9999;
}
.header-logo:hover {
  border:1px solid rgba(255,255,255,0.5);
}
.header-logo img {
  max-width:100%;
  max-height:100%;
  width: 100%;
  height: 100%;
}
.header-address {
  color:#fff;
  font-weight:bold;
  font-size:15px;
  position:absolute;
  z-index:999;
}
.email-bg {
  position:relative;
}
.email-bg .cr-viewport {
  border: 2px solid #505050;
}
#email-logo {
  top:55px;
  left:500px;
}
#email-address {
  top:170px;
  left:380px;
}
.shadow-sliders {
  width: 360px;
}
.shadow-sliders td {
  vertical-align: middle !important;
}



/*  RZSlider */
.rzslider .rz-pointer {
  top: -6px;
  z-index: 3;
  width: 25px;
  height: 15px;
  cursor: pointer;
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}
.rzslider .rz-pointer:after {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 17px;
  height: 7px;
  background: #d2d2d2;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  content: '';
}
.rzslider .rz-pointer:hover:after {
  background-color: #333;
}
.rzslider[disabled] .rz-bar.rz-selection {
  background: #bbc1ce;
}
