<img class="img-responsive pull-right" src="/golf/proto/{{proto}}/images/home_photo.jpg" style="margin-bottom:10px;" />
<p>{{name}} encompasses three nine-hole layouts that can be combined in a variety of ways to create a unique experience every time you play. Distinctive in character but consistent in quality, every hole was meticulously designed by Ted Robinson, Sr. and Jr. in the old style, leaving the terrain completely natural.<br />
<br />
Mature stands of palm, oak and eucalyptus trees frame undulating fairways and manicured greens, with numerous wetland areas, nearly 100 bunkers and an array of picturesque water features including four lakes and the San Diego River creating both strategic diversity and a visually stunning backdrop...</p>