<img class="img responsive pull-right" src="/golf/proto/{{proto}}/images/facilities.jpg" style="margin-bottom:10px;" />
<h2>Pro Shop</h2>

<p>{{name}} features a wide array of the best&nbsp; equipment and apparel in the industry. Stop by our fully-stocked pro shop before or after your next round, browse through name brands and make sure you have all that you need to compliment your game.</p>

<p>Our friendly staff will also help you schedule start times, rent golf carts, and register before each round of golf. &nbsp;An excellent selection of clubs are available, too, and we encourage you to sign up for golf lessons.<br />
<br />
Contact the pro shop for assistance, or to make an appointment for lessons.</p>