<section class="main-container">
<div class="container">
<div class="row">
<div class="main col-md-12">	
	<div class="main col-md-7">
	<h1 class="page-title">{{title}}</h1>
	<div class="separator-2"></div>
	
	<!--fck--> 
	fck_one.htm
	
	</div>
	<aside class="col-md-4 col-md-offset-1">
		<div class="sidebar">
			<div class="block clearfix">
				<h3 class="title">{{title}} Request</h3>
				<div class="separator"></div>
				<!--form--> 
				{{page}}_form.htm
			</div>
		</div>
	</aside>
</div>
</div>
</div>
</section>