<h2>Practice Facilities</h2>

<p>{{name}} offers chipping and putting areas, a perfect place to improve your short game.</p>

<p>{{name}} is also equipped with a driving range. What better way to push your game to the next level this season? We encourage you to set aside some time to perfect your swing and improve your accuracy. More information about our practice facilities is available in our pro shop.</p>