<section class="main-container">
<div class="container">
<div class="row">
<div class="main col-md-12">			
	<h1 class="page-title">Facilities</h1>
	<div class="separator-2"></div>
			<!--fck-->
			fck_one.htm
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<!--fck-->
			fck_two.htm
		</div>
		<div class="col-md-6 col-sm-12">
			<!--fck-->
			fck_three.htm
		</div>
	</div>
</div>
</div>
</div>
</section>