<?php

$path=$_SERVER[SCRIPT_FILENAME]; $parts=split("/",$path); if ($_SERVER[HTTP_HOST] == "coursetrends.com") { $location=$parts[7]; } elseif ($_SERVER[HTTP_HOST] == "www.coursetrends.com") { $location=$parts[7]; } else { $location=$parts[7];}

$location="/golf/$parts[6]/$location"; ?>
<div class="banner">
	<div class="slideshow">
		<div class="slider-banner-container">
	<div class='tp-bannertimer'></div>
			<div class="slider-banner">
				<ul>

					<li data-transition="random" data-slotamount="7" data-masterspeed="1100" data-delay="5000" data-saveperformance="on" data-title="Powerful Bootstrap Theme">
						<img src="<?php echo $location; ?>/images/slideshow/slide1.jpg"  alt="slidebg1" data-bgposition="center top" data-bgfit="cover" data-duration="20000" data-bgrepeat="no-repeat">

						<div class="tp-caption default_bg large sfr tp-resizeme"
							data-x="0"
							data-y="90"
							data-speed="600"
							data-start="1200"
							data-end="9400"
							data-endspeed="600">{{name}}
						</div>

						<div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
							data-x="0"
							data-y="190"
							data-speed="600"
							data-start="1600"
							data-end="9400"
							data-endspeed="600"><i class="icon-check"></i>
						</div>

						<div class="tp-caption light_gray_bg sfb medium tp-resizeme"
							data-x="50"
							data-y="190"
							data-speed="600"
							data-start="1600"
							data-end="9400"
							data-endspeed="600">18 Holes of Magnificent Golf
						</div>

						<div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
							data-x="0"
							data-y="240"
							data-speed="600"
							data-start="1800"
							data-end="9400"
							data-endspeed="600"><i class="icon-check"></i>
						</div>

						<div class="tp-caption light_gray_bg sfb medium tp-resizeme"
							data-x="50"
							data-y="240"
							data-speed="600"
							data-start="1800"
							data-end="9400"
							data-endspeed="600">Superb Amenities
						</div>

						<div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
							data-x="0"
							data-y="290"
							data-speed="600"
							data-start="2000"
							data-end="9400"
							data-endspeed="600"><i class="icon-check"></i>
						</div>

						<div class="tp-caption light_gray_bg sfb medium tp-resizeme"
							data-x="50"
							data-y="290"
							data-speed="600"
							data-start="2000"
							data-end="9400"
							data-endspeed="600">Outstanding Service
						</div>

						<div class="tp-caption dark_gray_bg sfb medium tp-resizeme"
							data-x="0"
							data-y="370"
							data-speed="600"
							data-start="2400"
							data-end="9400"
							data-endspeed="600"><a class="button big" href="<?php echo $location; ?>/request_tt/request_tt.htm">Book a Tee Time</a>
						</div>
					</li>

					<li data-transition="random" data-slotamount="7" data-masterspeed="1100" data-delay="5000" data-saveperformance="on" data-title="Powerful Bootstrap Theme">
						<img src="<?php echo $location; ?>/images/slideshow/slide2.jpg"  alt="slidebg2" data-bgposition="center top" data-bgfit="cover" data-duration="20000" data-bgrepeat="no-repeat">

						<div class="tp-caption white_bg large sfr tp-resizeme"
							data-x="0"
							data-y="70"
							data-speed="600"
							data-start="1200"
							data-end="9400"
							data-endspeed="600">Become a Member
						</div>

						<div class="tp-caption default_bg sfl medium tp-resizeme"
							data-x="0"
							data-y="170"
							data-speed="600"
							data-start="1600"
							data-end="9400"
							data-endspeed="600"><i class="icon-check"></i>
						</div>

						<div class="tp-caption white_bg sfb medium tp-resizeme"
							data-x="50"
							data-y="170"
							data-speed="600"
							data-start="1600"
							data-end="9400"
							data-endspeed="600">Golf Memberships
						</div>

						<div class="tp-caption default_bg sfl medium tp-resizeme"
							data-x="0"
							data-y="220"
							data-speed="600"
							data-start="1800"
							data-end="9400"
							data-endspeed="600"><i class="icon-check"></i>
						</div>

						<div class="tp-caption white_bg sfb medium tp-resizeme"
							data-x="50"
							data-y="220"
							data-speed="600"
							data-start="1800"
							data-end="9400"
							data-endspeed="600">Range Programs
						</div>

						<div class="tp-caption default_bg sfl medium tp-resizeme"
							data-x="0"
							data-y="270"
							data-speed="600"
							data-start="2000"
							data-end="9400"
							data-endspeed="600"><i class="icon-check"></i>
						</div>

						<div class="tp-caption white_bg sfb medium tp-resizeme"
							data-x="50"
							data-y="270"
							data-speed="600"
							data-start="2000"
							data-end="9400"
							data-endspeed="600">FLEX Instruction
						</div>

						<div class="tp-caption default_bg sfb medium tp-resizeme"
							data-x="0"
							data-y="370"
							data-speed="600"
							data-start="2400"
							data-end="9400"
							data-endspeed="600"><a class="button big" href="<?php echo $location; ?>/request_membership/request_membership.htm">Learn More</a>
						</div>
					</li>

					<li data-transition="random" data-slotamount="7" data-masterspeed="1100" data-delay="5000" data-saveperformance="on" data-title="Powerful Bootstrap Theme">
						<img src="<?php echo $location; ?>/images/slideshow/slide3.jpg"  alt="slidebg3"  data-bgposition="left center" data-kenburns="on" data-duration="20000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="115" data-bgpositionend="right center">

						<div class="tp-caption white_bg large sfr tp-resizeme"
							data-x="0"
							data-y="70"
							data-speed="600"
							data-start="1200"
							data-end="9400"
							data-endspeed="600">Monthly Golf Events
						</div>

						<div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
							data-x="0"
							data-y="170"
							data-speed="600"
							data-start="1600"
							data-end="9400"
							data-endspeed="600"><i class="icon-check"></i>
						</div>

						<div class="tp-caption white_bg sfb medium tp-resizeme"
							data-x="50"
							data-y="170"
							data-speed="600"
							data-start="1600"
							data-end="9400"
							data-endspeed="600">Corporate Tournaments
						</div>

						<div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
							data-x="0"
							data-y="220"
							data-speed="600"
							data-start="1800"
							data-end="9400"
							data-endspeed="600"><i class="icon-check"></i>
						</div>

						<div class="tp-caption white_bg sfb medium tp-resizeme"
							data-x="50"
							data-y="220"
							data-speed="600"
							data-start="1800"
							data-end="9400"
							data-endspeed="600">Fundraising Events
						</div>

						<div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
							data-x="0"
							data-y="270"
							data-speed="600"
							data-start="2000"
							data-end="9400"
							data-endspeed="600"><i class="icon-check"></i>
						</div>

						<div class="tp-caption white_bg sfb medium tp-resizeme"
							data-x="50"
							data-y="270"
							data-speed="600"
							data-start="2000"
							data-end="9400"
							data-endspeed="600">Golf Groups of Any Size
						</div>

						<div class="tp-caption dark_gray_bg sfb medium tp-resizeme"
							data-x="0"
							data-y="370"
							data-speed="600"
							data-start="2400"
							data-end="9400"
							data-endspeed="600"><a class="button big" href="<?php echo $location; ?>/tournaments/tournaments.htm">Learn More</a>
						</div>
					</li>

				</ul>
				<div class="tp-bannertimer tp-bottom"></div>
			</div>
		</div>
	</div>
</div>
