<h2>Bar &amp; Grill</h2>

<p>The bar &amp; grill is the perfect way to end your next round at {{name}}. It&#39;s also a great place to come for a meal, a drink or for watching a game in a comfortable atmosphere. Our regulars love unwinding with a beverage from our fully-stocked bar while they enjoy the surroundings. We often feature specials, so stop by today!</p>