<section class="main-container">
<div class="container">
<div class="row">
<div class="main col-md-12">			
	<h1 class="page-title">Course Details</h1>
	<div class="separator-2"></div>
	<div class="col-md-6 col-sm-6">		
		<img alt="" src="%path%/images/course_photo.jpg" class="img-responsive" />
	</div>
	<!--fck--> 
	fck_one.htm
</div>
</div>
</div>
</section>