<section class="main-container">
<div class="container">
<div class="row">
	<div class="col-sm-12">
		<div class="page-header">
			<h2>Members Only - {{title}}</h2>
		</div>
		<div class="row">		
			<?php include("/usr/local/www/data/%path%/includes/nav-mo.php"); ?>
			<div class='col-sm-8 col-md-9'>
				<!--fck--> 
				fck_one.htm
			</div>
		</div>
   	</div>
</div>
</div>
</section>