<div class="title">
<div class="container">
<div class="row">
<div class="col-md-12 col-sm-12 page-title">
<div class="row">
	<div class="col-md-7 col-sm-7 col-xs-12" style="width:50%">
		<h1 class="h1-page-title">Course Details</h1>
	</div>
	<?php include("/usr/local/www/data/%path%/includes/title-right.php"); ?>		
</div>
</div>
</div>
</div>
</div>
<div class="content">
<div class="container">
<div class="row">
<div class="col-md-12 col-sm-12 page-info">
	<div class="col-md-6 col-sm-6">		
		<img alt="" src="%path%/images/course_photo.jpg" style="float: right; margin-left:10px;" />
	</div>
	<!--fck--> 
	fck_one.htm
</div>
</div>
</div>