<p>The amenities and the membership opportunities and the customer service are all nice, but the real star of the show at Cypress Hills Golf Course is the high quality of the golf layout. Ours is the rare course that manages to be friendly to newcomers while simultaneously pushing experience players to improve their skills. We have multiple tee lengths at Cypress Hills to cater to players of all ages and skill levels. Be prepared to play through idyllic scenery, pristine fairways and strategically-placed bunkers. Don&#39;t be surprised if you want to come back again and again.</p>

<p><strong>Black</strong>: yards 6773 , rating 74.1, slope 139<br />
<strong>Blue</strong>: yards 6355, rating 71.9, slope 130<br />
<strong>White</strong>: yards 5840, rating 70.5, slope 124<br />
<strong>Red:</strong> yards 5132, rating 70.0, slope 122</p>

<h2>Scorecard</h2>
<img alt="" src="/golf/proto/{{{proto}}}/images/course_scorecard.jpg" />