<div class="title">
<div class="container">
<div class="row">
<div class="col-md-12 col-sm-12 page-title">
	<h1 class="h1-page-title">Members Only - {{title}}</h1>
</div>
</div>
</div>
</div>
<div class="content">
<div class="container">
<div class="row">
<div class="col-md-3 col-sm-3 page-info">
<?php include("/usr/local/www/data/%path%/includes/nav-mo.php"); ?>
</div>
<div class="col-md-9 col-sm-9 page-info">
	<!--fck--> 
	fck_one.htm
</div>
</div>
</div>