<h1>
	Facilities</h1>
<img src="/golf/proto/{{{proto}}}/images/facilities.jpg" style="float:right; margin-left:10px;" />
<h2>
	Pro Shop</h2>
<p>
	CourseTrends offers the best in equipment and apparel to compliment your game. Stop by our fully-stocked Pro Shop before or after your round and browse through name brands.</p>
<p>
	Our friendly staff will help you make start times, &nbsp;rent golf carts, sign up for club storage, and register you and your guests before each round of golf. &nbsp;An excellent selection of golf clubs and related merchandise are sold in the golf shop and golf lessons are available. Contact the Pro Shop for assistance, or to make an appointment for lessons.</p>
<h2>
	Practice Facilities</h2>
<p>
	CourseTrends offers chipping and putting areas, and is the perfect place to improve your short game.</p>
<p>
	CourseTrends is also equipped with a lighted driving range and PGA staff available for lessons. What better way to take your game to the next level this year? Make time to perfect your swing and improve your golf game today. Just contact our pro shop to speak with our professional staff and schedule your lesson.</p>
<h2>
	Bar &amp; Grill</h2>
<p>
	The bar &amp; grill is the perfect way to end your round at CourseTrends. Unwind with your favorite beverage from our fully stocked bar while you relax enjoying the natural surroundings.&nbsp; The bar &amp; grill is open daily from 8:00am to 30 minutes after sunset. Join us for Happy Hour every Friday from 4 to 6. Enjoy complimentary Hors d&#39; oeuvres, $2.00 Draft Beer, and $2.50 Well Drinks.</p>