<!--fck--> 
fck_one.htm

 <p style="text-align:center;"><a href="%path%/request_tt/request_tt.htm" class="btn btn-primary btn-large book">Book a Tee Time</a>  <a href="%path%/tts/tts.htm" class="btn btn-primary btn-large tts">Tee Time Specials</a></p>
 <?php include("/usr/local/www/data/%path%/includes/weather/index.php"); ?>