<section class="section-content section-content-sidebar">
<div class="row">
	<div class="span6">
		<article>
			<!--fck--> 
			fck_one.htm
			
			<div class="form">
			<h3>{{title}} Form</h3>
			<!--form--> 
			{{{page}}}_form.htm
			</div>
		</article>
	</div>
	<div class="span3">
		<aside>
		<?php include("/usr/local/www/data/%path%/includes/nav-mo.php"); ?>
		</aside>
	</div>
</div>
</section>
				
				

