<info course="course" class="col-md-12"></info>
<div class="col-md-12 sub-menu">
	<div class="col-md-4"><a href="#/css" class="btn btn-purple"><< Back to CSS</a></div>
	<div class="col-md-4 text-center"><a class="btn btn-danger col-md-12" ng-click="exportAll()">Export All Headers</a></div>
</div>
<div class="col-md-12 headers">

	<div class="col-md-12 uploads">
		<div class="col-md-4 text-center">
			<h3><small>Upload Logo</small></h3>
			<input class="btn btn-primary upload-logo" type="file" value="Upload" accept="image/*" />
		</div>
		<div class="col-md-4 text-center">
			<h3><small>Upload Background</small></h3>
			<input class="btn btn-primary upload-bg" type="file" value="Upload" accept="image/*" />
		</div>
		<div class="col-md-4 text-center">
			<h3><small>Gradient Colors</small></h3>
			<div colorpicker="hex" colorpicker-size="150" colorpicker-with-input="true" ng-model="params.coupon.color1" class="palette-box" ng-style="{ background : params.coupon.color1 }"></div>
			<div colorpicker="hex" colorpicker-size="150" colorpicker-with-input="true" ng-model="params.coupon.color2" class="palette-box" ng-style="{ background : params.coupon.color2 }"></div>
		</div>
	</div>

	<!-- <div class="col-md-12">
		<div class="coupon-bg cr-viewport">
			<div class="logo" id="coupon-logo">
				<img ng-src="[[headerLogo || 'https://www.coursetrends.com/golf/designs/comal/images/design/logo.png']]" ng-style="applyShadow(params.email.logo.shadow)" />
			</div>
		</div>
  </div> -->


  <div class="email-bg croppie-container col-md-12">
		<div class="logo" id="email-logo">
			<img ng-src="[[headerLogo || 'https://www.coursetrends.com/golf/designs/comal/images/design/logo.png']]" ng-style="applyShadow(params.email.logo.shadow)" />
		</div>
		<div class="address" id="email-address">
			[[course.address1 ? (course.address1 +'•'+ course.address2 +'•'+ course.phone) : '2714 Kelly Lane • Pflugerville, TX 78660 • 512-251-9000']]
		</div>
  </div>

	<div class="controls">
		<a class="btn btn-default pull-right img-result" ng-click="preview()"><span class="glyphicon glyphicon-eye-open"></span></a>
	</div>

	<div class="col-md-5">
		<div class = "btn-group">
		   <button type = "button" class = "btn btn-default" style="margin-right:0"  ng-click="dropShadow(); tstatus = tstatus == 'ON' ? 'OFF' : 'ON'">Toggle Logo Shadow: [[tstatus]]</button>

		   <button type = "button" class = "btn btn-default dropdown-toggle shadow-sliders-settings">
		      <span class="glyphicon glyphicon-cog"></span>
		      <span class = "sr-only">Toggle Dropdown</span>
		   </button>

			 <div class="shadow-sliders dropdown-menu">
	 			<table class="table">
	 				<tr>
	 					<td>Color</td>
	 					<td><div><div colorpicker="rgba" colorpicker-size="150" ng-model="params.email.logo.shadow.color" class="palette-box pull-left" ng-style="{background : params.email.logo.shadow.color}"></div>
	 					<input type="text" colorpicker="rgba" colorpicker-size="150" ng-model="params.email.logo.shadow.color" placeholder="RGBA"/></div></td>
	 				</tr>
	 				<tr>
	 					<td>Offset X</td>
	 					<td><rzslider rz-slider-model="params.email.logo.shadow.offsetX" rz-slider-options="params.email.logo.shadow.options"></rzslider></td>
	 				</tr>
	 				<tr>
	 					<td>Offset Y</td>
	 					<td><rzslider rz-slider-model="params.email.logo.shadow.offsetY" rz-slider-options="params.email.logo.shadow.options"></rzslider></td>
	 				</tr>
	 				<tr>
	 					<td>Blur</td>
	 					<td><rzslider rz-slider-model="params.email.logo.shadow.blur" rz-slider-options="{ floor: 0, ceil: 10, showSelectionBar: true, disabled: params.email.logo.shadow.options.disabled  }"></rzslider></td>
	 				</tr>
	 				<tr>
	 					<td>Spread</td>
	 					<td><rzslider rz-slider-model="params.email.logo.shadow.spread" rz-slider-options="{ floor: 0, ceil: 10, showSelectionBar: true, disabled: params.email.logo.shadow.options.disabled }"></rzslider></td>
	 				</tr>
	 			</table>
	 		</div>
		</div>
	</div>

	<br /><br />
	<div class="canvases">
		<canvas id="canvas"></canvas><br />
		<canvas id="logo-canvas"></canvas><br />
		<canvas id="address-canvas"></canvas><br />
		<canvas id="bg-canvas"></canvas>
	</div>
</div>
<div class="col-md-12">
	<svg>
		<defs>
			<filter id="logo-filter" x="0" y="0" width="200%" height="200%">
				<feOffset in="SourceAlpha" dx="[[params.email.logo.shadow.offsetX]]" dy="[[params.email.logo.shadow.offsetY]]" />

				<feGaussianBlur ng-stddeviation="[[params.email.logo.shadow.blur]]" />
				<feComponentTransfer>
						<feFuncA type="gamma" exponent="0.5" amplitude="[[params.email.logo.shadow.spread]]" />
				</feComponentTransfer>

				<feBlend in="SourceGraphic" mode="normal" />
			</filter>
		</defs>
	</svg>
</div>
