<info course="course" class="col-md-12"></info>
<div class="col-md-12 sub-menu">
	<div class="col-md-4"><a href="#/css" class="btn btn-purple"><< Back to CSS</a></div>
	<div class="col-md-4 text-center"><a class="btn btn-danger col-md-12" ng-click="exportAll()">Export All Headers</a></div>
</div>
<div class="col-md-12 headers">
<h3 class="text-center" style="color:red;">Currently only usable from Chrome</h3>
	<!-- Header Images -->
	<div class="col-md-12">
		<div class="header-wrapper" ng-repeat="container in params.containers" ng-class="container.width+25 > 525  ? 'col-md-12' : 'col-md-6'">
			<center><h3>[[container.name]] <small>[[container.width]]x[[container.height]]</small></h3></center>
			<div id="[[container.name]]" class="croppie-container">
				<div class="header-logo" id="[[container.name]]-logo">
					<img ng-src="[[params.logo.image]]" ng-class="params.logo.shadow.options.disabled ? '' : 'logo-filter'" />
				</div>
				<div class="header-store" id="[[container.name]]-store" ng-if="container.store">
					Online Store
				</div>
				<div class="header-address" id="[[container.name]]-address" ng-if="container.type !== 'coupon'">
					<span ng-style="addressStyle()" ng-class="params.address.shadow.options.disabled ? '' : 'address-filter'">[[params.address.text]]</span>
				</div>
		  </div>
			<div class="col-md-12 text-center">
				<a class="btn btn-success img-download" ng-click="download()"><span class="glyphicon glyphicon-download-alt"></span></a>
				<a class="btn btn-default img-result" data-toggle="modal" data-target="#imagePreview" ng-click="preview()"><span class="glyphicon glyphicon-eye-open"></span></a>
				<a class="btn btn-danger img-clear" ng-click="clearImg()"><span class="glyphicon glyphicon-trash"></span></a>
			</div>
		</div>
	</div>

	<!-- Controls -->
	<div class="controls container">
		<div class="col-md-5">
			<div class="row">

				<!-- Logo Control -->
				<div class = "btn-group dropup pull-left">
				   <button type="button" class="btn btn-default" style="margin-right:0"  ng-click="toggleShadow('logo')">Toggle Logo Shadow</button>

				   <button type="button" class="btn btn-info dropdown-toggle shadow-sliders-settings">
				      <span class="glyphicon glyphicon-cog"></span>
				      <span class="sr-only">Toggle Logo Settings</span>
				   </button>

					 <div class="shadow-sliders dropdown-menu">
			 			<table class="table">
			 				<tr>
			 					<td>Color</td>
			 					<td><div><div colorpicker="rgba" colorpicker-size="150" ng-model="params.logo.shadow.color" class="palette-box pull-left" ng-style="{background : params.logo.shadow.color}"></div>
			 					<input type="text" colorpicker="rgba" colorpicker-size="150" ng-model="params.logo.shadow.color" placeholder="RGBA"/></div></td>
			 				</tr>
			 				<tr>
			 					<td>Offset X</td>
			 					<td><rzslider rz-slider-model="params.logo.shadow.offsetX" rz-slider-options="params.logo.shadow.options"></rzslider></td>
			 				</tr>
			 				<tr>
			 					<td>Offset Y</td>
			 					<td><rzslider rz-slider-model="params.logo.shadow.offsetY" rz-slider-options="params.logo.shadow.options"></rzslider></td>
			 				</tr>
			 				<tr>
			 					<td>Blur</td>
			 					<td><rzslider rz-slider-model="params.logo.shadow.blur" rz-slider-options="{ floor: 0, ceil: 10, showSelectionBar: true, disabled: params.logo.shadow.options.disabled  }"></rzslider></td>
			 				</tr>
			 				<tr>
			 					<td>Spread</td>
			 					<td><rzslider rz-slider-model="params.logo.shadow.spread" rz-slider-options="{ floor: 1, ceil: 10, showSelectionBar: true, disabled: params.logo.shadow.options.disabled }"></rzslider></td>
			 				</tr>
			 			</table>
			 		</div>
				</div>

				<!-- Address Control -->
				<div class = "btn-group dropup pull-left">
				   <button type="button" class="btn btn-default" style="margin-right:0"  ng-click="toggleShadow('address')">Toggle Address Shadow</button>

				   <button type="button" class="btn btn-info dropdown-toggle shadow-sliders-settings">
				      <span class="glyphicon glyphicon-cog"></span>
				      <span class = "sr-only">Toggle Address Settings</span>
				   </button>

					 <div class="shadow-sliders dropdown-menu">
			 			<table class="table">
			 				<tr>
			 					<td>Color</td>
			 					<td><div><div colorpicker="hex" colorpicker-size="150" ng-model="params.address.color" class="palette-box pull-left" ng-style="{background : params.address.color}"></div>
			 					<input type="text" colorpicker="hex" colorpicker-size="150" ng-model="params.address.color" placeholder="#HEX"/></div></td>
			 				</tr>
			 				<tr>
			 					<td>Size</td>
			 					<td><rzslider rz-slider-model="params.address.size" rz-slider-options="params.address.options"></rzslider></td>
			 				</tr>
							<tr>
			 					<td>Weight</td>
			 					<td><rzslider rz-slider-model="params.address.weight" rz-slider-options="{ floor: 400, ceil: 800, showSelectionBar: true, step: 100, disabled: params.address.options.disabled }"></rzslider></td>
			 				</tr>
							<tr>
			 					<td>Shadow Color</td>
			 					<td><div><div colorpicker="rgba" colorpicker-size="150" ng-model="params.address.shadow.color" class="palette-box pull-left" ng-style="{background : params.address.shadow.color}"></div>
			 					<input type="text" colorpicker="rgba" colorpicker-size="150" ng-model="params.address.shadow.color" placeholder="RGBA"/></div></td>
			 				</tr>
			 				<tr>
			 					<td>Shadow Blur</td>
			 					<td><rzslider rz-slider-model="params.address.shadow.blur" rz-slider-options="params.address.shadow.options"></rzslider></td>
			 				</tr>
			 				<tr>
			 					<td>Shadow Spread</td>
			 					<td><rzslider rz-slider-model="params.address.shadow.spread" rz-slider-options="params.address.shadow.options"></rzslider></td>
			 				</tr>
			 			</table>
			 		</div>
				</div>

				<!-- Gradient Color Picker -->
				<div class="gradient-container pull-left">
					<div colorpicker="hex" colorpicker-size="150" colorpicker-fixed-position="true" colorpicker-with-input="true" colorpicker-position="top" ng-model="params.gradient.color1" class="palette-box form-control pull-left" ng-style="{ background : params.gradient.color1 }"></div>
					<div colorpicker="hex" colorpicker-size="150" colorpicker-fixed-position="true" colorpicker-with-input="true" colorpicker-position="top" ng-model="params.gradient.color2" class="palette-box form-control pull-left" ng-style="{ background : params.gradient.color2 }"></div>
				</div>

			</div>
		</div>

		<!-- Uploads -->
		<div class="col-md-2 uploads">
			<div class="row">
				<label class="btn btn-danger" for="upload-logo">Logo</label>
				<input id="upload-logo" type="file" value="Upload" accept="image/*" />

				<label class="btn btn-primary" for="upload-bg">Background</label>
				<input id="upload-bg" type="file" value="Upload" accept="image/*" />
			</div>
		</div>

		<!-- Address -->
		<div class="col-md-5">
			<div class="row">
				<input id="address-input" class="form-control" type="text" ng-model="params.address.text" placeholder="Address Text" />
			</div>
		</div>
	</div>
</div>

<!-- SVG -->
<div class="svgs">
	<svg id="svg-logo" height="175" width="600">
		<defs>
			<filter id="logo-filter" x="-50%" y="-50%" width="200%" height="200%">
				<feFlood result="flood" flood-color="[[params.logo.shadow.color]]" flood-opacity="1"></feFlood>
				<feComposite in="flood" result="mask" in2="SourceGraphic" operator="in" />
				<feOffset in="mask" result="offset"  dx="[[params.logo.shadow.offsetX]]" dy="[[params.logo.shadow.offsetY]]" />
				<feGaussianBlur in="offset" result="blurred" ng-stddeviation="[[params.logo.shadow.blur]]" />
				<feComponentTransfer>
						<feFuncA type="gamma" exponent="0.5" amplitude="[[params.logo.shadow.spread]]" in="blurred" result="blurred2" />
				</feComponentTransfer>
				<feMerge>
		        <feMergeNode in="blurred2"></feMergeNode>
		        <feMergeNode in="SourceGraphic"></feMergeNode>
		    </feMerge>
			</filter>
		</defs>
		<image id="svg-logo-image" xlink:href="https://www.coursetrends.com/golf/designs/comal/images/design/logo.png" filter="url(#[[svg.logo.filter]])" x="0" y="0" />
	</svg>

	<svg id="svg-address" height="175" width="600">
		<defs>
			<filter id="address-filter" x="-50%" y="-50%" width="200%" height="200%">
				<feFlood result="flood" flood-color="[[params.address.shadow.color]]" flood-opacity="1"></feFlood>
				<feComposite in="flood" result="mask" in2="SourceGraphic" operator="in" />
				<feOffset in="mask" result="offset"  dx="[[params.address.shadow.offsetX]]" dy="[[params.address.shadow.offsetY]]" />
				<feGaussianBlur in="offset" result="blurred" ng-stddeviation="[[params.address.shadow.blur]]" />
				<feComponentTransfer>
						<feFuncA type="gamma" exponent="0.5" amplitude="[[params.address.shadow.spread]]" in="blurred" result="blurred2" />
				</feComponentTransfer>
				<feMerge>
		        <feMergeNode in="blurred2"></feMergeNode>
		        <feMergeNode in="SourceGraphic"></feMergeNode>
		    </feMerge>
			</filter>
		</defs>
		<text id="svg-address-image" x="0" y="16" font-family="sans-serif" font-size="[[params.address.size]]" font-weight="[[params.address.weight]]" fill="[[params.address.color]]" filter="url(#[[svg.address.filter]])">[[params.address.text]]</text>
	</svg>
</div>

<!-- Modal -->
<div class="modal fade" id="imagePreview" tabindex="-1" role="dialog" aria-labelledby="imgpreview">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="imgpreview">Image Preview</h4>
      </div>
      <div class="modal-body">
        <canvas id="canvas"></canvas>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Canvases -->
<div class="canvases hidden">
	<canvas id="logo-canvas"></canvas>
	<canvas id="address-canvas"></canvas>
	<canvas id="bg-canvas"></canvas>
	<canvas id="store-canvas"></canvas>

	<canvas id="golf18-canvas"></canvas>
	<canvas id="coupon-canvas"></canvas>
	<canvas id="email_header-canvas"></canvas>
	<canvas id="booking_header-canvas"></canvas>
	<canvas id="ecom_header-canvas"></canvas>
	<canvas id="survey_header-canvas"></canvas>
</div>
