<div class="row">
	<div class="col-sm-12">
		<div class="page-header">
			<h2>Members Only - {{title}}</h2>
		</div>
		<div class="row">		
			<?php include("/usr/local/www/data/%path%/includes/nav-mo.php"); ?>
			<div class='col-sm-8 col-md-9'>
				<!--fck--> 
				fck_one.htm
			</div>
			
			<div class='col-md-9 col-md-offset-3 col-sm-8 col-sm-offset-2'>
				<div class='page-header page-header-with-icon'>
				  <i class='fa fa-envelope'></i>
				  <h2>{{title}} Request</h2>
				</div>
			  <!--form--> 
			  {{{page}}}_form.htm
			</div>
		
		</div>
   	</div>
</div>