<div class="row">
	<div class="col-sm-12">
		<div class="page-header">
                  <h2>Contact Info</h2>
		</div>
		<div class="row text-center">
			<div class="col-sm-3">
				<div class="icon-wrap icon-circle contrast-bg icon-md">
					<i class="fa fa-map-marker text-white"></i>
				</div>
				<h3>Address</h3>
				<ul class="list-unstyled">
					<li>
					<!--fck-->
					fck_one.htm
					</li>
				</ul>
			</div>
			<div class="col-sm-3">
				<div class="icon-wrap icon-circle contrast-bg icon-md">
					<i class="fa fa-phone text-white"></i>
				</div>
				<h3>Telephone</h3>
                    <ul class="list-unstyled">
                      <li>
					<!--fck-->
					fck_two.htm
					</li>
                    </ul>
			</div>
			<div class="col-sm-3">
				<div class="icon-wrap icon-circle contrast-bg icon-md">
					<i class="fa fa-envelope text-white"></i>
				</div>
				<h3>E-Mail</h3>
					<ul class="list-unstyled">
                      <li>
					<!--fck-->
					fck_three.htm
					</li>
                    </ul>
			</div>
			<div class="col-sm-3">
				<div class="icon-wrap icon-circle contrast-bg icon-md">
                      <i class="fa fa-clock-o text-white"></i>
				</div>
				<h3>Business hours</h3>
					<ul class="list-unstyled">
                      <li>
					<!--fck-->
					fck_four.htm
                      </li>
                    </ul>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		<div class="page-header page-header-with-icon">
			<i class="fa fa-map-marker"></i>
				<h2>Our location</h2>
		</div>
		<iframe src="" width="100%" height="435" frameborder="0" style="border:0"></iframe>
	</div>
	<div class="col-sm-6">
		<div class="page-header page-header-with-icon">
			<i class="fa fa-envelope"></i>
                  <h2>Contact form</h2>
		</div>
     <!--form--> 
     contact_form.htm
	</div>
</div>