<h1>Scorecard and Stats</h1>

<p><strong>Black</strong>: yards 6773 , rating 74.1, slope 139<br />
<strong>Blue</strong>: yards 6355, rating 71.9, slope 130<br />
<strong>White</strong>: yards 5840, rating 70.5, slope 124<br />
<strong>Red:</strong> yards 5132, rating 70.0, slope 122</p>
<img alt="" class="img-responsive" src="/golf/proto/{{proto}}/images/course_scorecard.jpg" />