<h1>Welcome to {{name}}</h1>
<img alt="" class="img-responsive" src="/golf/proto/{{proto}}/images/home_photo.jpg" style="margin-left:10px;float: right;" />
<p>{{name}} is a golf facility that lies on 316 acres of scenic hill country in Austin, Texas. The course gives the golfer a feeling that is not found anywhere else in the country.</p>

<p>One million cubic yards of dirt were moved in to create the look of rolling hills, and 13 bridges were added to cross over a creek that winds throughout the golf course. Strategically placed rock outcroppings add to the beauty of the course.</p>

<p>For the golfer who has to work late, we are equipped with a lit driving range where you can sharpen your skills or take a lesson from one of our P.G.A. Golf Professionals. {{name}} has an eager staff that is committed to providing you with customer service that will make your golf visit memorable.</p>

<p>Our clubhouse consists of 6500 square feet and features a well supplied pro-shop with a restaurant/bar that is open daily. Locker rooms with showers are also available. Our 200-seat open-air pavilion is equipped with a grill and is perfect for tournaments, private parties or in providing a good scenic view for some post-round beverages.</p>