<section class="hgroup">
	<div class="container">
		<h1>Facilities</h1>
		<ul class="breadcrumb pull-right">
			<li><a href="%path%/index.htm">Home</a> </li>
			<li class="active">Facilities</li>
		</ul>
	</div>
</section>
<figure>
	<div class="container">
		<img src="%path%/images/headers/facilities.jpg" class="img-rounded" alt="Facilities Image">
	</div>
</figure>
<section>
	<div class="container">
		<!--fck--> 
		fck_one.htm
	</div>
</section>