<section class="hgroup">
	<div class="container">
		<h1>Course Details</h1>
		<ul class="breadcrumb pull-right">
			<li><a href="%path%/index.htm">Home</a> </li>
			<li class="active">Course</li>
		</ul>
	</div>
</section>
<figure>
	<div class="container">
		<img src="%path%/images/headers/course.jpg" class="img-rounded" alt="Events Image">
	</div>
</figure>
<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-7 col-md-7">
				<!--fck--> 
				fck_one.htm
			</div>
			<div class="col-sm-5 col-md-5">
				<!--fck--> 
				fck_two.htm
			</div>
		</div>
	</div>
</section>