<h1>
	Course Details</h1>
<img alt="" src="/golf/proto/{{proto}}/images/course_photo.jpg" style="float: right; margin-left:10px;" />
<p>
	Prepare yourself for an unparalleled golfing experience. Our course is a pleasure for golfers of any skill level to play. CourseTrends will challenge you while providing a relaxing, picturesque backdrop.&nbsp; Test your accuracy with our fairways, water hazards and sand traps; we have everything you need to challenge you and improve your game. All in all, our goal is to provide you with a quality experience that includes exceptional service and a comfortable atmosphere.</p>
<p>
	<strong>Black</strong>: yards 6773 , rating 74.1, slope 139<br />
	<strong>Blue</strong>: yards 6355, rating 71.9, slope 130<br />
	<strong>White</strong>: yards 5840, rating 70.5, slope 124<br />
	<strong>Red:</strong> yards 5132, rating 70.0, slope 122</p>
<img alt="" src="/golf/proto/{{proto}}/images/course_scorecard.jpg" />
