<div class="row">
	<div class="span12">
		<h1 class="title center v2">
			Contact Us
		</h1>
	</div>
		<div class="span7">
			<!--fck-->
			fck_one.htm
		</div>
		<div class="span4">
			<div class="form">
				<h3>Contact Form</h3>
				 <!--form-->
				 contact_form.htm
			</div>
		</div>
</div>
