<img class="img-container img-responsive" src="/golf/proto/{{proto}}/images/tournaments.jpg" />
<h2>Our Team</h2>

<p class="divider">Choose Quail Ridge as the location of your next golf event. From the moment you begin coordination until the final award is handed out, we are here to serve you. Whether you plan to hold a large corporate or charity event, or just a group of 12 on a golf getaway, we desire to ensure your complete satisfaction. To get your planning underway, call Brian Alexander at 901-386-6951 or email <a href="mailto:quailridgegolf@yahoo.com">quailridgegolf@yahoo.com</a>.</p>

<h2>Experience Tennessee Golf</h2>

<p class="divider">Quail Ridge Golf Course combines a great golf experience with the unmatched beauty of the Bartlett Landscape. Our seamless integration of friendly service and gorgeous natural surroundings is what will bring your group back year after year. Your guests are sure to enjoy the hospitality of our staff along with the graceful beauty of our facility.</p>

<h2>The Tradition Lives On</h2>

<p class="divider">Each year Quail Ridge entertains numerous private groups and organizations. Regardless of the size of the group or the reason for their golf event, our staff works diligently to make their golf outing a success. Explore your options with Quail Ridge and experience what has made our golf course one of Tenessee&#39;s best.</p>
