<div class="row">
	<div class="span12">
		<h1 class="title center v2">
			{{title}}
		</h1>
	</div>
		<div class="span3">
			<?php include("/usr/local/www/data/%path%/includes/nav-mo.php"); ?>
		</div>
		<div class="span9">
			<!--fck--> 
			fck_one.htm
		</div>
</div>
