<table align="left" border="0" cellpadding="1" cellspacing="1" class="table-striped" style="width: 100%;font-size:16px;">
	<tbody>
		<tr>
			<td style="padding:8px"><b>Address</b></td>
			<td style="padding:8px">
			<p>{{address1}}<br />
			{{address2}}</p>
			</td>
		</tr>
		<tr>
			<td style="padding:8px"><b>Phone</b></td>
			<td style="padding:8px">
			<p>{{phone}}</p>
			</td>
		</tr>
		<tr>
			<td style="padding:8px"><b>Email</b></td>
			<td style="padding:8px">
			<p>{{email}}</p>
			</td>
		</tr>
		<tr>
			<td style="padding:8px"><b>Hours</b></td>
			<td style="padding:8px">
			<p>Monday - Friday &mdash; <strong>8:30am - 10:00pm</strong><br />
			Saturday &amp; Sunday &mdash; <strong>8:30am - 12:00am</strong></p>
			</td>
		</tr>
	</tbody>
</table>

<div data-url="https://www.coursetrends.com/golf/site_editor/edit_content.php?type=fck&amp;name=fck_one" id="link64_adl_tabid" style="display:none;">572</div>
