<img alt="" src="/golf/proto/{{proto}}/images/open-table.png" />
<div data-url="https://www.coursetrends.com/golf/site_editor/edit_content.php?type=fck&amp;name=fck_one" id="link64_adl_tabid" style="display:none;">188</div>
