<section class="pagetitle parallax parallax-image" style=
 "background-image:url(%path%/images/backgrounds/{{page}}.jpg);">
<div class="wrapsection" style="background-image:url(%path%/images/design/pattern.png);background-repeat:repeat;">
	<div class="overlay" style="background:#303543;opacity:0.6;">
	</div>
	<div class="container">
		<div class="parallax-content">
			<div class="block2 text-center max80" style="color:#fff;">
				<h3>
				<span class="text1 big wow bounceIn" data-wow-delay="0s" data-wow-duration="1s">
				<b>{{title}}</b></span>
				</h3>
				<h2>
				<span class="text2 big wow zoomIn" data-wow-delay="0.4s" data-wow-duration="2s">
				Customer Service is our specialty</span>
				</h2>
			</div>
		</div>
	</div>
</div>
</section>
<section class="page-wrapper">
<div class="container">
	<div class="row">	
		<div class="col-md-12">
			<!--fck-->
			fck_one.htm
		</div>