<h3>Welcome to {{name}}</h3>
<p>{{name}}is a golf facility that lies on 316 acres of scenic hill country in {{address2}}. The course gives the golfer a feeling that is not found anywhere else in the country.</p>

<p>One million cubic yards of dirt were moved in to create the look of rolling hills, and 13 bridges were added to cross over a creek that winds throughout the golf course. Strategically placed rock outcroppings add to the beauty of the course.</p>