<div class="row">
	<div class="col-sm-12">
		<div class="page-header">
                  <h2>{{title}}</h2>
		</div>
<!--fck--> 
fck_one.htm

<div class='col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2'>
                <div class='page-header page-header-with-icon'>
                  <i class='fa fa-envelope'></i>
                  <h2>{{title}} Request</h2>
                </div>
          <!--form--> 
          {{page}}_form.htm
</div>
   	</div>
</div>