<div class="wide-img-showcase">
	<div class="row margin-0 wide-img-showcase-row">
		<div class="col-sm-6 no-padding  img-2 ">
			<div class="no-padding-inner">
				<div>&nbsp;</div>
			</div>
		</div>
		<div class="col-sm-6 col-sm-offset-6 no-padding gray">
			<div class="no-padding-inner gray wow animated fadeInDownfadeInRight">
				<!--fck--> 
				fck_one.htm
			</div>
		</div>
	</div>
</div>
 <div class="divide50"></div>
<div class="container">
<!--fck--> 
fck_two.htm
</div>