<div class="row">
	<div class="col-sm-12">
		<div class="page-header">
			<h2>Course Details</h2>
		</div>
	<div class="row">		
		<div class="col-md-6 col-sm-12">
		<!--fck--> 
		fck_one.htm
		</div>
		<div class="col-md-6 col-sm-12">
		<!--fck--> 
		fck_two.htm
		</div>
	</div>
   	</div>
</div>